       body{
        margin: 0;
        padding: 0;
        background-color: rgb(0, 0, 0);
       }
       .navbar{
        background-color: aqua;
        height: 40px;
        border: 2px solid black;
       }
       .navbar ul{
        display: flex;
        margin: 0px;
        padding: 0px;
        list-style: none;
       }
       li{
        margin:10px 20px;
        color: rgb(34, 76, 189);
       }
       .container{
        margin: 10px;
        background-color: rgba(192, 60, 248, 0.312);
        display: flex;
        justify-content: center;
       }
       .box1{
        height: 60vh;
        width: 40vw;
        background-color: rgb(17, 252, 130);
        margin: 20px;
       }
       .box2{
        height: 60vh;
        width: 40vw;
        background-color: rgb(13, 190, 221);
        margin: 20px;
       }
       .text{
        margin: auto;
        height: 100px;
        width: 300px;
        border: 2px solid white;
       color: aliceblue;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 30px;
       }
       .img{
        display: flex;
        justify-content: right;
       }
       img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
        position: fixed;
        
       }
       .footer{
        height: 50px;
        background-color: aliceblue;
        margin-top: 50px;
        text-align: center;
        padding-top: 15px;
       }